body {
background-image: url();
color: black;

}
header{
    text-align: center;
    align-items: flex-end;
    height: 6rem;
}
section{
color: black;
}
.plants{
color: black;
background-image: url();
}
