body {
background-image: url(10565e152da8dd75717bc7e8234a0c76.gif);
color: black;

}
header{
    text-align: center;
    align-items: flex-end;
    height: 6rem;
}
section{
color: black;
}
.plants{
color: black;
background-image: url();
}
